.container{display: flex;
    justify-content:space-around;
align-items:center ;
margin: 100px;}
body{background-color: bisque;}





.a{background-color: antiquewhite;
    width:300px;
    height: 400px;
border: 1px solid black;
border-radius: 10px;}

.b{background-color: antiquewhite;
    width:300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
}
.c{background-color: antiquewhite;
    width:300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
}
.d{background-color: antiquewhite;
    width:300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
}