body{
    height: 100vh;
    ;
}
*{margin:0;
padding: 0;
box-sizing: border-box;}
form{height: 50%;
    font-size: 20px;
width: 30%;
padding: 10px;
border: 2px solid rgb(213, 146, 221);
border-radius: 7%;
background-color: rgb(239, 174, 234);
margin: 10px auto;}
input,select{width: 90%;
background-color: rgb(210, 234, 226);
border: 2px solid rgb(4, 3, 1);

margin: 10px;
font-size: 15px;}
input[type=radio]{width: auto;}
input[type=submit]{background-color: green;
width: 50%;}

header > img{width: 100vw;}
nav img{width: 100px;
vertical-align: middle;
}
nav a{margin-left: 40px;
text-decoration: none;}
header{background-color: rgb(210, 116, 116);}
h1{text-align: center;}