/* General page setup */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    
   
background-color: #101013e0;
backdrop-filter: blur(5px);
z-index: -2;


 color: #b6a6e6;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;} 



header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    text-align: center;
    text-shadow: #0a0708
    ;
    background-position:left;
    ;
}

nav button {
    background-color: #b40629;
    color: white;
    border:  neon;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

nav button:hover {
    background-color: #ff7aa2;
}


h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 48px;
    text-shadow: 2px 2px 5px rgb(207, 198, 207)
   ;
}


.content {
    height: 1200px;
}
h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 48px;
    text-shadow: 2px 2px 5px rgb(8, 2, 2);
}


.trending {
    text-align: left;
    ;
}

.trending h2 {
    font-size: 30px;
    color: #c5b673;
    text-shadow: 2px 2px 4px black;
    margin: 10px;
}


.anime-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 15px;
    padding: 40px;
}


.anime-card {
    background-color: rgba(225, 190, 190, 0.6);
    height: auto;
    width: 250px;
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
    margin: 10px;
    margin-top: -20px;
    margin-left: -10px;

}

.anime-card:hover {
    box-shadow: 0 0 15px rgba(241, 238, 239, 0.352);
    transform: scale(1.05);
}

.anime-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.anime-card h3 {
    color: #2a2ea8;
    margin: 10px 0;
}

.anime-card p {
    font-size: 16px;
    color: #0b0a0f;
font-weight: bolder;
text-align: left;}